<div class="general">
    <h1 class="texto1">Prueba <span class="adelgazar">técnica</span></h1>
    <div class="espacio">
        <div class="izquierda">
            <button (click)="irNuevo()"><i class="bi bi-plus-square-fill"></i></button>
            <button><i class="bi bi-list-columns-reverse"></i></button>
        </div>
        <div class="derecha">
            <h1 class="texto2">Listar usuarios</h1>
            <div class="contenedorForm">
                <div class="card">
                    <img src="https://th.bing.com/th/id/R.f0abb6aebc18b21fc4221a04f755e470?rik=sCTZrQ0T3du%2fDg&pid=ImgRaw&r=0"
                        class="foto">
                    <div class="informacion">
                        <h2>Nombre completo</h2>
                        <h2>Edad</h2>
                        <h2>Fecha de nacimiento</h2>
                        <h2>direccion</h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>