<div class="general">
    <h1 class="texto1">Prueba <span class="adelgazar">técnica</span></h1>
    <div class="espacio">
        <div class="izquierda">
            <button (click)="irRegistro()"><i class="bi bi-plus-square-fill"></i></button>
            <button (click)="irListar()"><i class="bi bi-list-columns-reverse"></i></button>
        </div>
        <div class="derecha" [ngClass]="{'ocultar': mostrarListar}">
            <h1 class="texto2">Registro de usuario</h1>
            <div class="contenedorForm">
                <input type="text" placeholder="ID" class="input" [(ngModel)]="id"><br>
                <input type="text" placeholder="Nombre completo" class="input nombre" [(ngModel)]="nombreCompleto">
                <div class="conjuntos">
                    <input type="text" placeholder="Dirección" class="input nombre" [(ngModel)]="direccion"> <br>
                    <input type="date" class="input" [(ngModel)]="fechaNacimiento">
                    <input type="file" class="input bsimg" [(ngModel)]="imagenBase64" (change)="cargarImagen($event)">


                </div>
                <button class="registrar" (click)="registrarUsuario()">Confirmar</button>

            </div>

        </div>

        <div class="derecha2" [ngClass]="{'ocultar': mostrarRegistro}">
            <h1 class="texto2">Listar usuarios</h1>
            <div class="contenedorForm">
                <div class="card" *ngFor="let usuario of usuarios">
                    <img [src]="usuario.foto" class="foto">
                    <div class="informacion">
                        <h2>{{ usuario.nombreCompleto }}</h2>
                        <h2>{{usuario.edad}}</h2>
                        <h2>{{ usuario.fechaNacimiento | date:'dd/MM/yyyy' }}</h2>
                        <h2>{{ usuario.direccion }}</h2>
                    </div>
                    <div class="botonesMonitoreo">
                        <i class="bi bi-pencil-square aa"></i>
                        <i class="bi bi-trash aa" (click)="eliminar(usuario)"></i>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>